[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/James Kung (kong1191)
[access "refs/for/refs/*"]
	read = group user/James Kung (kong1191)
	push = group OpenTrustGroup_WebDeveloper
	push = group user/James Kung (kong1191)
	rebase = group OpenTrustGroup_WebDeveloper
	rebase = group user/James Kung (kong1191)
	removeReviewer = group OpenTrustGroup_WebDeveloper
	removeReviewer = group user/James Kung (kong1191)
[access "refs/heads/*"]
	read = group OpenTrustGroup_WebDeveloper
	read = group user/James Kung (kong1191)
	create = group user/James Kung (kong1191)
	push = +force group user/James Kung (kong1191)
	pushMerge = group user/James Kung (kong1191)
	label-Code-Review = -2..+2 group OpenTrustGroup_WebDeveloper
	label-Verified = -1..+1 group OpenTrustGroup_WebDeveloper
	submit = group OpenTrustGroup_WebDeveloper
[access "refs/tags/*"]
	push = group user/James Kung (kong1191)
	push = +force group user/James Kung (kong1191)
	read = group OpenTrustGroup_WebDeveloper
[submit]
	action = fast forward only
	mergeContent = false
